{% extends 'catalog/base.html' %}
{% load custom_tags %}
{% block content %}
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'catalog:create_product' %}">Добавить продукт</a>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for object in object_list %}
    <div class="col mb-4 mt-4">
        <div class="card shadow-sm">
            <img class="card-image" src="{{ object.image|catalog_media }}" alt="{{ object.name }}">
            <div class="card-body">
                <p class="card-text">{{ object }}</p>
                {% if user.is_superuser or user == product.seller %}
                {% if object.in_stock %}
                    <a class="btn btn-outline-warning"
                       href="{% url 'catalog:toggle_stock' object.pk %}"
                    >
                        Добавить статус: Не в наличии
                    </a>
                {% else %}
                    <a class="btn btn-outline-success"
                       href="{% url 'catalog:toggle_stock' object.pk %}"
                    >
                        Добавить статус: В наличии
                    </a>
                {% endif %}
                {% endif %}
                {% for version in current_versions %}
                {% if object == version.product %}
                <p class="card-text mt-4 mb-4">{{ version }}</p>
                {% endif %}
                {% endfor %}
                <div class="card-text mt-4 mb-4">{{ object.description|slice:100 }}...</div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a class="btn btn-outline-primary btn-sm"
                           href="{% url 'catalog:view_product' object.pk %}"
                        >
                            Посмотреть
                        </a>
                        {% if perms.catalog.cancel_publication and perms.catalog.edit_description and perms.catalog.change_category or user.is_superuser or user == product.seller %}
                            <a class="btn btn-outline-success btn-sm btn-outline"
                               href="{% url 'catalog:edit_product' object.pk %}"
                            >
                                Редактировать
                            </a>
                            <a class="btn btn-outline-danger btn-sm btn-outline"
                               href="{% url 'catalog:delete_product' object.pk %}"
                            >
                                Удалить
                            </a>
                        {% endif %}
                    </div>
                    <small class="text-body-secondary px-3">{{ object.updated_at }}</small>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}